.navbar {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%; 
    transition: 0.3s ease-out;
    padding: 5px 0;
    z-index: 999; 
	padding-top: 10px;
	padding-bottom: 10px;
}

.contact{
    margin-top: 65px;
    color: black;
}

.social-media{
    font-size: 25px;
    font-weight: 500;
    margin-top: -5px;
    color: black;
}
.footericons{
    height: 33px;
    display: flex;
    justify-content: center;
}
.firstpic{
    margin-right: 20px;
}
.secondpic{
    margin-right: 20px;
}