body {
	position: relative;
}
.header{
	background-image: url('http://static1.squarespace.com/static/5a5fccd6e45a7c0ce208c18b/t/6128fc54d23c0c4c121adfd2/1630075996054/PlantShop_Altrincham_Oct2020_JodyHartley_LoRes-21.jpg?format=1500w');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 50vh;
	position: relative;
}
.col-md-6{
background-color: #126740;
}
  .row{
	display: flex;
	justify-content: center;
} 
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    transition: 0.3s ease-out;
    padding: 5px 0;
    z-index: 999; 
	padding-top: 10px;
	padding-bottom: 10px;
}

