.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    transition: 0.3s ease-out;
    padding: 5px 0;
    z-index: 999; 
	padding-top: 10px;
	padding-bottom: 10px;
}
.stars{
    margin-bottom: 10px;
}
.checked {
    color: orange;
}
 section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.carousel-control-next-icon{
    background-image: url(../img/arrow-right.png);
}
.carousel-control-prev-icon{
    background-image: url(../img/left-arrow.png);
}
.carousel-control-next, .carousel-control-prev{
    width: 30px;
}
.carousel-control-next{
    right: -35px;
}
.carousel-control-prev{
    left: -35px;
} 
.pots{
    margin-top: -20px;
    margin-bottom: 35px;
}
